In [4]:
# STRING
#(1) reverse a string
a= input("Enter a String:")
a1= a[::-1]
print(a1)

Enter a String: Harry Potter

rettoP yrraH

In [6]:
#(2) Check if a string is palindrome or not
a= input("Enter a string:")
if a == a[::-1]:
   print("It is a palindrome")
else:
   print("Not a Palindrome")

Enter a string: Ankita Singh

Not a Palindrome

In [8]:
# (3) uppercase
a= input("Enter a String:")
a1= a.upper()
print(a1)

Enter a String: frisson

FRISSON

In [9]:
# (4) lowercase
a= input("Enter a String:")
a1=a.lower()
print(a1)

Enter a String: DEVHUB

devhub

In [12]:
# (5) counting a vowel
string = input("Enter a string: ")
count = 0

string = string.lower()

for ch in string:
    if ch in 'aeiouAEIOU':
        count += 1

print("Number of vowels =", count)

Enter a string:  Honesty is the best policy.

Number of vowels = 7

In [14]:
# (6) counting a consonants
string = input("Enter a string: ")
count = 0

string = string.lower()

for ch in string:
    if ch not in 'aeiouAEIOU':
        count += 1

print("Number of vowels =", count)

Enter a string:  Honesty is the best policy

Number of vowels = 19

In [21]:
# (7) whitespaces
h= "  harry potter   "
print(h.strip())

harry potter

In [16]:
# (8) Count the length without len()
string = input("Enter a string: ")

count = 0
for i in string:
    count += 1

print("Length of the string is:", count)

Enter a string:  We are playing badminton.

Length of the string is: 25

In [2]:
#(9) contains specific word
text = "Honesty is the best policy"
word = "best"

if word in text:
    print("The word is present.")
else:
    print("The word is not present.")

The word is present.

In [3]:
#(10) replace()
a= "My name is Ankita Singh"
print(a.replace("Ankita", "Lisa"))

My name is Lisa Singh

In [6]:
#(11) count the occurence
a= "welcome to my house and welcome again"
print(a.count("welcome"))

2

In [2]:
#(12) first occurence of the word in a string
text = "I am a girl"
word = "girl"

index = text.find(word)

if index != -1:
    print(index)
else:
    print("not found")

7

In [3]:
#(13) 
text = "I am a girl"
word= "girl"

index = text.rfind(word)
print(index)

7

In [22]:
# 14 split a string
x = (input("Enter a string: "))
y= x.split()
print(y)

Enter a string:  Hello I am Ankita

['Hello', 'I', 'am', 'Ankita']

In [13]:
# 15 join a list of word in to string
bb = ['We', 'are', 'playing', 'a', 'game']
ss = ' '.join(bb)
print(ss)

We are playing a game

In [15]:
# 16 space to underscore
aa = "We all are Indian"
bb = aa.replace(' ', '_')
print(bb)

We_all_are_Indian

In [18]:
# 17 start with specific word
x= "I am a citizen of India"
print(x.startswith("I"))

True

In [20]:
# 18 ends with specific word
x= "In his mind it has given him the added drive and motivation to do better"
print(x.endswith("to do better"))
print(x.endswith("motivation"))

True
False

In [23]:
# 19 title case
w= input("Enter a title:")
print(w.title())

Enter a title: hey hello good evening

Hey Hello Good Evening

In [27]:
# 20 longest word in a string
x = "Mountains are the most beautiful structures of nature"
y = x.split()
longest = max(y, key=len)
print("Longest word:", longest)

Longest word: structures

In [29]:
# 21 smallest word in a string
x = "Mountains are the most beautiful structures of nature"
y = x.split()
smallest = min(y, key=len)
print("Smallest word:", smallest)

Smallest word: of

In [4]:
# 22 reverse the order of the string
def reverse_words(text):
    words = text.split()
    reversed_words = words[::-1]
    return ' '.join(reversed_words)

text = "My name is Ankita Singh"
print(reverse_words(text))

Singh Ankita is name My

In [34]:
# 23 alphanumeric?
d = "ankita01"
print(d.isalnum())

True

In [37]:
# 24 extract digits
a= "abc123efg456hjk789"
num = []
for i in a:
    if i.isdigit():
        num.append(int(i))

print("The numbers list is:", num)

The numbers list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# 25 extract alphabets
a= "abc123efg456hjk789"
alpha = []
for i in a:
    if i.isalpha():
        alpha.append(str(i))

print("The numbers list is:", alpha)

The numbers list is: ['a', 'b', 'c', 'e', 'f', 'g', 'h', 'j', 'k']

In [42]:
# 26 count of upper 
a= "ABCefgHGJklmNOP"
count = 0
for i in a:
    if i.isupper():
        alpha.append(str(i))
        count += 1

print("number of upper ", count)

number of upper  9

In [43]:
# 27 count of lower 
a= "ABCefgHGJklmNOP"
count = 0
for i in a:
    if i.islower():
        alpha.append(str(i))
        count += 1

print("number of lower ", count)

number of lower  6

In [45]:
# 28 swap of case
a="ANkiTA"
print(a.swapcase())

anKIta

In [49]:
# 29 replace a specific word
a = "Delhi is a beautiful place "
word = "place"

result = a.replace(word, "")
print(result.strip())

Delhi is a beautiful

In [1]:
# 30 valid email
def is_valid_email(email):
    if email.count('@') != 1:
        return False
        
    local, domain = email.split('@')

    if not local or not domain:
        return False

    if '.' not in domain:
        return False

    if domain.startswith('.') or domain.endswith('.'):
        return False

    return True

email = input("Enter an email address: ")

if is_valid_email(email):
    print("Valid email address")
else:
    print("Invalid email address")

Enter an email address:  iankita.singh13@gmail.com

Valid email address

In [52]:
# 31 Username
email = "iankita.singh13@gmail.com"
username = email.split('@')[0]
print("Username:", username)

Username: iankita.singh13

In [54]:
# 32 Domain
email = "iankita.singh13@gmail.com"
Domain = email.split('@')[1]
print("Domain:", Domain)

Domain: gmail.com

In [56]:
# 33 multiple spaces into one 
test_str = "Kanpur     is my hometown"
r = " ".join(test_str.split())
print(str(r))

Kanpur is my hometown

In [9]:
# 34 valid url and url always start with https or http
def http(u):
    return u.startswith("http://") or u.startswith("https://")

url = input("Enter a valid url: ")

if http(url):
    print("Valid URL")
else:
    print("Not a valid URL")

Enter a valid url:  https://valid.org

Valid URL

In [1]:
#35
url = "https://www.example.com"

if url.startswith("https://"):
    print("https")
elif url.startswith("http://"):
    print("http")
else:
    print("No valid protocol")

https

In [7]:
#36 
text = "Mountain is therapy"
count = {}

for i in text:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1

print(count)

{'M': 1, 'o': 1, 'u': 1, 'n': 2, 't': 2, 'a': 2, 'i': 2, ' ': 2, 's': 1, 'h': 1, 'e': 1, 'r': 1, 'p': 1, 'y': 1}

In [2]:
#37 remove punctuation
s = input("enter the string")
p = "!@#$%^&*()))))_+{}[]:;<>"
str1 = ""
for i in s:
    if i not in p:
        str1 += i
print(str1)

enter the string ankita@

ankita

In [57]:
#38 Only digit
a= "1234567"
print(a.isdigit())

True

In [58]:
#39 Only alphabets
a= "ABJGDUY"
print(a.isalpha())

True

In [3]:
string = "Ankita"
char_list = list(string)
print(char_list)

['A', 'n', 'k', 'i', 't', 'a']

In [11]:
#41
def anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

print(anagrams("abcd", "bdac"))

True

In [5]:
#42 encode
def caesar_cipher(text, shift):
    result = ""
    
    for char in text:
        if char.isupper():
            result += chr((ord(char) + shift - 65) % 26 + 65)
        elif char.islower():
            result += chr((ord(char) + shift - 97) % 26 + 97)
        else:
            result += char
    
    return result
    
text = input("Enter the text to encode: ")
shift = int(input("Enter the shift value: "))

encoded_text = caesar_cipher(text, shift)
print(encoded_text)

Enter the text to encode:  good
Enter the shift value:  2

iqqf

In [6]:
#43 decode caesar cipher
def caesar_decipher(text, shift):
    result = ""
    
    for char in text:
        if char.isupper():
            result += chr((ord(char) - shift - 65) % 26 + 65)
        elif char.islower():
            result += chr((ord(char) - shift - 97) % 26 + 97)
        else:
            result += char
    
    return result
encoded_text = input("Enter the encoded text: ")
shift = int(input("Enter the shift value: "))

decoded_text = caesar_decipher(encoded_text, shift)
print("Decoded text:", decoded_text)

Enter the encoded text:  iqqf
Enter the shift value:  2

Decoded text: good

In [3]:
#44 frequency
str=input("Enter the string ")
l1=str.split()
x={}
count=0
for i in l1:
  if i in x:
    x[i]+=1
  else:
    x[i]=1

for j in x:     
  if x[j]>count:
    count=x[j]
    print(j)

Enter the string  helloooo

helloooo

In [16]:
#45 unique 
a="aaaaaabaaaaaa"
b= set(a)
print(b)

{'b', 'a'}

In [7]:
#46 Count the number of syllables in a string.
string = input("Enter a string: ")
count = 0

string = string.lower()

for ch in string:
    if ch in 'aeiouAEIOU':
        count += 1

print("Number of syllables =", count)

Enter a string:  apple

Number of syllables = 2

In [19]:
#47
n = "thank$%^&&you"
n.split()
c = 0
s = '[@_!#$%^&*()<>?/}{~:]' 
for i in range(len(n)):
    if n[i] in s:
        c += 1  
if c:
    print("string contains special char")
else:
    print("no special char")

string contains special char

In [20]:
#48
def rem_n (text, n):
    words = text.split()
    
    if n > 0 and n <= len(words):
        del words[n-1]
    return ' '.join(words)

text= input("Enter a sentence:")
n=int(input("Enter the number of term which you want to remove"))
print(rem_n(text, n))

Enter a sentence: this is your house
Enter the number of term which you want to remove 3

this is house

In [23]:
#49 Insert a word in nth position
def insert(text, word, n):
    w = text.split()  
    if n >= 1 and n <= len(w) + 1:
        w.insert(n-1, word)  
    
    return ' '.join(w) 


text = input("Enter a sentence: ")
w = input("Enter a word which you want to add: ")
n = int(input("Enter the number of the term where you want to add the word: "))

print(insert(text, w, n))

Enter a sentence:  this is house
Enter a word which you want to add:  my
Enter the number of the term where you want to add the word:  3

this is my house

In [4]:
#50 Convert a CSV string to a list of lists.
import pandas as pd

text= ["Hello, welcome how are you what are you doing"]
df= pd.DataFrame({"text": text})
df.to_csv("text.csv")

                                            text
0  Hello, welcome how are you what are you doing

In [9]:
#1 List
a= [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#2 length of a list
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0 
for i in a:
    count += 1 
print("Length of the list:", count)

Length of the list: 10

In [24]:
#3 append an item to the last
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a.append(11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [23]:
#4 insert an item into a specific index
a = [1,2,4,5,6,7]
a.insert(2, 3)
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [25]:
#5 remove an item
a = ["car", "bus", "bike", "dog"]
a.remove("dog")
print(a)

['car', 'bus', 'bike']

In [26]:
#6 pop an item from index
a= [6,3,6,3,7,8,2]
a.pop(2)
print(a)

[6, 3, 3, 7, 8, 2]

In [30]:
#7 item exists?
my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("Exists")
else:
    print("Not exist")

Exists

In [31]:
#8 index of the first occurence
my_list = [10, 20, 30, 20, 40]

index = my_list.index(20) 
print(index)

1

In [32]:
#9 count the occurence
a= ["cat", "rat", "cat", "dog", "lion"]
print(a.count("cat"))

2

In [33]:
#10 reverse of a list
a= [2,4,6,8,10,12,14,16,18,20]
print(a[::-1])

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [35]:
# 11 sort a list into ascending
a = [20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
a.sort()
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [37]:
# 12 sort a list into descending
a = [120, 18, 46, 94, 32, 10, 8, 86, 4, 20]
a.sort(reverse= True)
print(a)

[120, 94, 86, 46, 32, 20, 18, 10, 8, 4]

In [39]:
# 13 list 1 to 20 even numbers
even_numbers = []
for x in range(1, 21):
    if x % 2 == 0:
        even_numbers.append(x)

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
# 14 list 1 to 20 odd numbers
odd_numbers = []
for x in range(1, 21):
    if x % 2 == 1:
        odd_numbers.append(x)

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [41]:
# 15 sum of elements
a= [1,2,3,4,5,6,7,8,9,10]
print(sum(a))

55

In [44]:
# 16 max element
a= [2,4,6,8,10,20]
print(max(a))

20

In [45]:
# 17 min element
a= [2,4,6,8,10,20]
print(min(a))

2

In [48]:
# 18 
squares = []
for x in range(1, 11):
    squares.append(x**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
# 19 random numbers
import random
n = 8
li = random.sample(range(1, 51), n)

print(li)

[31, 7, 16, 11, 12, 28, 43, 9]

In [1]:
#20 Unique numbers
l = [1, 2, 2, 3, 4, 4, 5]
u = (set(l))
v = list(u)
print(v)

[1, 2, 3, 4, 5]

In [52]:
#21 common numbers
list1 = [1, 6, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common = list(set(list1) & set(list2))
print(common)

[4, 5, 6]

In [56]:
#22 Difference of two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

d= list(set(list1) - set(list2))
print(d)

[1, 2, 3]

In [59]:
#23 Merge two list
list1 = ["Apple", "Banana", "Guava"]
list2 = ["Mango", "Pear"]

list1.extend(list2)  
print(list1)

['Apple', 'Banana', 'Guava', 'Mango', 'Pear']

In [64]:
#24 Multiply by 2
my_list = [2,4,6,8,10]
doubled = []

for x in my_list:
    doubled.append(x * 2)

print(doubled)

[4, 8, 12, 16, 20]

In [67]:
#25 odd number from the list
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd= []

for x in list:
    if x % 2 != 0:
        odd.append(x)

print(odd)

[1, 3, 5, 7, 9]

In [3]:
#26 list of strings to a list of integers.
a = ['2', '4', '6', '8']
b = [int(item) for item in a]
print(b)

[2, 4, 6, 8]

In [6]:
# 27 list of integers to a list of strings
a = [1, 2, 3, 4, 5]
b = list(map(str, a))

print(b)

['1', '2', '3', '4', '5']

In [8]:
#28 nested list
lis = [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
res=[]
for i in lis:
	res.extend(i)
print('Flat List', res)

Flat List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#29
fib_seq = [0, 1]

for i in range(2, 10):
    next_fib = fib_seq[-1] + fib_seq[-2]
    fib_seq.append(next_fib)

print(fib_seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [11]:
#30 check if list is sorted or not
list = [7, 2, 3, 4, 5]
s = list == sorted(list)
print(s)

False

In [14]:
#31 
lst = [1, 2, 3, 4, 5]
n = int(input("Enter number of positions to rotate: "))
rotated = lst[n:] + lst[:n]
print(rotated)

Enter number of positions to rotate:  2

[3, 4, 5, 1, 2]

In [15]:
#32
lst = [1, 2, 3, 4, 5]
n = int(input("Enter number of positions to rotate: "))
rotated = lst[-n:] + lst[:-n]
print("Rotated list:", rotated)

Enter number of positions to rotate:  3

Rotated list: [3, 4, 5, 1, 2]

In [28]:
#33 
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

primes = [x for x in range(2, 51) if is_prime(x)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [17]:
#34
def split(lst, n):
    ch = []
    for i in range(0, len(lst), n):
        ch.append(lst[i:i+n])
    return ch
lst = [34,54,7,8,34,67,89]
n = int(input("Enter chunk size: "))
result = split(lst, n)
print(result)

Enter chunk size:  3

[[34, 54, 7], [8, 34, 67], [89]]

In [16]:
#35 Find the second largest number in a list
a= [2,45,6,3,75,34,7,98]
a.sort()
print("Second largest number: " , a[-2])

Second largest number:  75

In [17]:
#36
my_list = [1, 2, 3, 4, 5]
for i in range(len(my_list)):
    my_list[i] = my_list[i] ** 2

print(my_list)

[1, 4, 9, 16, 25]

In [18]:
#37
my_list = ['a', 'b', 'c', 'd']
my_dict = {}

for index, element in enumerate(my_list):
    my_dict[element] = index

print(my_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [19]:
#38
import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[5, 4, 3, 2, 1]

In [20]:
#39
factorials = []
factorial = 1

for i in range(1, 11):
    factorial *= i  
    factorials.append(factorial)

print(factorials)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [24]:
#40
a1= [2,3,4]
a2= [3,4,5]
common_found = False
for element in a1:
    if element in a2:
        common_found = True
        break

if common_found:
    print("common element")
else:
    print("No common elements")

common element

In [27]:
#41 remove all elements
a= [1,2,3,4,5]
a.clear()
print(a)

[]

In [30]:
#42 remove negative elements
a = [1, -2, 3, -4, 5]
for i in range(len(a)):
    if a[i] < 0:
        a[i] = 0

print(a)

[1, 0, 3, 0, 5]

In [31]:
#43
text = "I love Coding in python language"
A = text.split()
print(A)

['I', 'love', 'Coding', 'in', 'python', 'language']

In [33]:
#44
text =['I', 'love', 'coding', 'in', 'python']
a= ' '.join(text)
print(a)

I love coding in python

In [35]:
#45
n = 10
powers_2 = [2**i for i in range(n)]
print(powers_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [37]:
#46
words = ['cat', 'elephant', 'dog', 'lion']
longest = max(words, key=len)
print("Longest string:", longest)

Longest string: elephant

In [39]:
#47
words = ['cat', 'elephant', 'tiger', 'lion']
longest = min(words, key=len)
print("Longest string:", longest)

Longest string: cat

In [27]:
#48 formula is n(n+1)//2
n = int(input("Enter the value of n: "))
num = []

for i in range(1, n + 1):
    num.append(i * (i + 1) // 2)

print(num)

Enter the value of n:  6

[1, 3, 6, 10, 15, 21]

In [25]:
#49
a = [5, 6, 3, 8, 2, 1, 7, 1]
b = [8, 2, 1] 

res = str(b)[1:-1] in str(a)[1:-1]

print(res)

True

In [24]:
#50
l = [10, 20, 30, 40, 50]
i = int(input("Enter first index to swap: "))
j = int(input("Enter second index to swap: "))

temp = l[i]
l[i] = l[j]
l[j] = temp
print(l)

Enter first index to swap:  2
Enter second index to swap:  3

[10, 20, 40, 30, 50]