In [1]:
#1TUPLE
tuple = tuple(range(1, 6))
print(tuple)

(1, 2, 3, 4, 5)

In [2]:
#2
a=(1,2,3,4,5,6)
print(a[3])

4

In [3]:
#3
t = (5, 10, 15, 20, 25)
count = 0

for i in t:
    count += 1

print(count)

5

In [4]:
#4
t = (1, 2, 3, 1, 4, 1, 5)
n= int(input("Enter the element for which you want to check occurance"))
count = 0

for item in t:
    if item == n:
        count += 1

print(count)

Enter the element for which you want to check occurance 2

1

In [5]:
#5
t= (10, 20, 30, 40, 50)
element = 30
index = t.index(element)
print(index)

2

In [6]:
#6
my_tuple = (10, 20, 30, 40, 50)
element = 60
if element in my_tuple:
    print(element," exists in the tuple")
else:
    print(element, "not exist in the tuple")

60 not exist in the tuple

In [7]:
#7
tuple = (10, 20, 30, 40, 50)
list = list(tuple)
print(list)

[10, 20, 30, 40, 50]

In [5]:
#8
list = [10, 20, 30, 40, 50]
tuple = tuple(list)
print(tuple)

(10, 20, 30, 40, 50)

In [8]:
#9
my = (1, 2, 3)
a, b, c = my
print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

In [4]:
#10 
t = tuple(range(2, 11, 2))
print(t)

(2, 4, 6, 8, 10)

In [3]:
#11
t = tuple(range(1, 11, 2))
print(t)

(1, 3, 5, 7, 9)

In [9]:
#12
t1 = (1, 2, 3)
t2 = (4, 5, 6)
combined = t1 + t2
print(combined)

(1, 2, 3, 4, 5, 6)

In [12]:
#13
t=(12,13,14,15)
print(t*3)

(12, 13, 14, 15, 12, 13, 14, 15, 12, 13, 14, 15)

In [13]:
#14
t=()
if len(t) == 0:
    print("Empty tuple")

Empty tuple

In [14]:
#15
t=(1,2,(3,4),(5,6))
print(t)

(1, 2, (3, 4), (5, 6))

In [19]:
#16
t=(1,2,(3,4),(5,6))
print(t[0:1])

(1,)

In [20]:
#17 single element
t=(3)
print(t)

3

In [23]:
#18 Compare
t1=[1,3,5]
t2=[2,6,10]
print(t1<t2)
print(t1==t2)

True
False

In [6]:
#19
my_tuple = (1, 2, 3)
del my_tuple

In [32]:
#20
a= (12,13,14,15,16,17)
print(a[2:4])
print(a[1:])

(14, 15)
(13, 14, 15, 16, 17)

In [33]:
#21
a=(1,34,65,87,2,45,99,12)
print(max(a))

99

In [34]:
#22
a=(1,34,65,87,2,45,99,12)
print(min(a))

1

In [1]:
#23
string = "Hello"
tuple = tuple(string)
print(tuple)

('H', 'e', 'l', 'l', 'o')

In [11]:
#24
tuple = ('H', 'e', 'l', 'l', 'o')
string = ''.join(tuple)
print(string)

Hello

In [12]:
#25
m= (10, 3.14, [1, 2, 3], (1, 2),"good")
print(m)

(10, 3.14, [1, 2, 3], (1, 2), 'good')

In [16]:
#26
t1 = (1, 3, 4, 5, 6)
t2 = (3, 4, 5, 6, 7)

if t1 == t2:
    print("identical")
else:
    print("No")

No

In [ ]:
#27
t = (5, 2, 9, 1, 3)
sorted_tuple = tuple(sorted(t))
print(sorted_tuple)

In [ ]:
#28
t = (1, 2, 3, 4, 5)
str_ = tuple(map(str, t))
print(str_)

In [ ]:
#29
t = ('1', '2', '3', '4', '5')
int = tuple(map(int, t))
print(int)

In [5]:
#30
t1 = (1, 2, 3)
t2 = (4, 5, 6)

merged = t1 + t2
print(merged)

(1, 2, 3, 4, 5, 6)

In [35]:
#31
nested = (1, (2, 3), 4, (5, 6))

flat = []
for item in nested:
    if isinstance(item, tuple):  
        flat.extend(item)
    else:
        flat.append(item)  

flat_tuple = tuple(flat)
print(flat_tuple)

(1, 2, 3, 4, 5, 6)

In [25]:
#32
t = (1, 2, 3, 2, 1)

if t == t[::-1]:
    print("The tuple is a palindrome")
else:
    print("The tuple is not a palindrome")

The tuple is a palindrome

In [1]:
#33
list = []
for i in range(1, 6):
    list.append(i ** 2)
tuple = tuple(list)
print(tuple)

(1, 4, 9, 16, 25)

In [9]:
#34
sqlist = []

for x in range(1, 6):
    sqlist.append(x**2)

sqtuple = tuple(sqlist)

print(sqtuple)

(1, 4, 9, 16, 25)

In [10]:
#35
m = (1, 2, 3, 4, 5, 6, 7, 8, 9)

odd_list = []

for x in m:
    if x % 2 != 0:
        odd_list.append(x)
        
odd_tuple = tuple(odd_list)

print(odd_tuple)

(1, 3, 5, 7, 9)

In [11]:
#36
my_tuple = (1, 2, 3, 4, 5)
multiplied_list = []

for x in my_tuple:
    multiplied_list.append(x * 2)

multiplied_tuple = tuple(multiplied_list)

print(multiplied_tuple)

(2, 4, 6, 8, 10)

In [12]:
#37
import random

random_tuple = tuple(random.sample(range(1, 101), 5))

print(random_tuple)

(55, 25, 78, 43, 85)

In [14]:
#38
def sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

t1 = (1, 2, 3, 4, 5)
print(sorted(t1))

True

In [16]:
#39
lst = (1, 2, 3, 4, 5)
n = int(input("Enter number of positions to rotate: "))
rotated = lst[n:] + lst[:n]
print("Rotated list:", rotated)

Enter number of positions to rotate:  2

Rotated list: (3, 4, 5, 1, 2)

In [17]:
#40
lst = (1, 2, 3, 4, 5)
n = int(input("Enter number of positions to rotate: "))
rotated = lst[-n:] + lst[:-n]
print("Rotated list:", rotated)

Enter number of positions to rotate:  3

Rotated list: (3, 4, 5, 1, 2)

In [24]:
#41 
n = 9
fibo = [0, 1]

a, b = 0, 1
for i in range(n - 2): 
    a, b = b, a + b
    fibo.append(a)

fibo_tuple = tuple(fibo)  

print(fibo_tuple)

(0, 1, 1, 1, 2, 3, 5, 8, 13)

In [26]:
#42
u = input("Enter elements separated by spaces: ")

inp = u.split()
in_tuple = tuple(inp)

print(in_tuple)

Enter elements separated by spaces:  3 5 6 7 8

('3', '5', '6', '7', '8')

In [27]:
#43
a = [(3, 4), (6, 5), (7, 8)]
res = []

for x, y in a:
    res.append((y, x)) 
print(res)

[(4, 3), (5, 6), (8, 7)]

In [28]:
#44
t1= (43,56,76,87,98,34)
t2= t1[::-1]
print(t2)

(34, 98, 87, 76, 56, 43)

In [32]:
#45
n = int(input("Enter the value of n: "))
result = []

for i in range(n):
    result.append(2 ** i)

pow2 = tuple(result)
print(pow2)

Enter the value of n:  5

(1, 2, 4, 8, 16)

In [31]:
#46
a = ("Bengalore", "delhi", "chennai", "shimla", "kullu")

longest = max(a, key=len)

print(longest)

delhi

In [ ]:
#47
a = ("Bengalore", "delhi", "chennai", "shimla", "kullu")

smallest = min(a, key=len)

print(smallest)

In [20]:
#48 formula is n(n+1)//2
n = int(input("Enter the value of n: "))
num = []

for i in range(1, n + 1):
    num.append(i * (i + 1) // 2)

num2= tuple(num)    

print(num2)

Enter the value of n:  6

(1, 3, 6, 10, 15, 21)

In [33]:
#49
def is_sub(big, small):
    return str(small)[1:-1] in str(big)

t1 = (1, 2, 3, 4, 5)
t2 = (3, 4)

print(is_sub(t1, t2))

True

In [34]:
#50
n = int(input("Enter the length of the tuple: "))

i = 0
result = []

while i < n:
    result.append(i % 2 ^ 1) 
    i += 1

alt_tuple = tuple(result)
print(alt_tuple)

Enter the length of the tuple:  4

(1, 0, 1, 0)

In [2]:
#1 Set
s= set(range(1,6))
print(s)

{1, 2, 3, 4, 5}

In [5]:
#2
s = {1, 2, 3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [6]:
#3
s = {1, 2, 3, 4}
s.remove(1)
print(s)

{2, 3, 4}

In [8]:
#4
my_set = {1, 2, 3, 4, 5}
n= int(input("Enter the item which you want to search"))
if n in my_set:
    print("n is in the set")
else:
    print("n is not in the set")

Enter the item which you want to search 6

n is not in the set

In [10]:
#5
m = {10, 20, 30, 40, 50}
count = 0

for i in m:
    count += 1

print("Length=", count)

Length= 5

In [11]:
#6
s = {1, 2, 3, 4}
s.clear()
print(s)

set()

In [12]:
#7
even = set(range(2, 11, 2))
print(even)

{2, 4, 6, 8, 10}

In [14]:
#8
odd = set(range(1, 20, 2))
print(odd)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [18]:
#9
s1 = {1,2,3,4,}
s2 = {3,4,5,7}

union = s1.union(s2)
print(union)

{1, 2, 3, 4, 5, 7}

In [20]:
#10
s1 = {1,2,3,4,}
s2 = {3,4,5,7}

inter = s1.intersection(s2)
print(inter)

{3, 4}

In [21]:
#11
s1 = {1,2,3,4,}
s2 = {3,4,5,7}

inter = s1-s2
print(inter)

{1, 2}

In [22]:
#12
s1 = {1,2,3,4,}
s2 = {3,4,5,7}

subset = s1.issubset(s2)
print(subset)

False

In [24]:
#13
s1 = {1,2,3,4,5,7}
s2 = {3,4,5,7}

super = s1.issuperset(s2)
print(super)

True

In [25]:
#14
l1=[14,24,65,65,86,35]
s1=set(l1)
print(s1)

{65, 35, 14, 86, 24}

In [26]:
#15
s1={12,14,45,65,347,87}
l1= list(s1)
print (l1)

[65, 87, 347, 12, 45, 14]

In [28]:
#16 remove a random 
s1={12,14,45,65,347,87}
s2= s1.pop()
print(s2)

65

In [ ]:
#17 use pop
s1={12,14,45,65,347,87}
s2= s1.pop()
print(s2)

In [29]:
#18
s1 = {21,45,23,76,34,35}
s2 = {87,2,5,6,8,3,9}

if s1.isdisjoint(s2):
    print("no common.")
else:
    print("some common")

The sets have no elements in common.

In [33]:
#19
s1 = {21,45,23,76,34,35}
s2 = {87,2,5,6,8,3,9}
diff = s1.symmetric_difference(s2)
print("Symmetric Difference:", diff)

Symmetric Difference: {2, 3, 5, 6, 8, 9, 76, 21, 87, 23, 34, 35, 45}

In [32]:
#20
s1 = {1, 2, 3,5,9,}
s2 = {3, 4, 5,2,7}

s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 7, 9}

In [35]:
#21
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True
prime_set = set()
num = 2

while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print("First 5 prime numbers as a set:", prime_set)

First 5 prime numbers as a set: {2, 3, 5, 7, 11}

In [36]:
#22
s1 = {1, 4, 7, 2, 3}
s2 = {3, 2, 1}

if s1 == s2:
    print("True")
else:
    print("False")

False

In [38]:
#23
m = [1, 2, 3, 4, 5,9]
frozen = frozenset(m)

print(frozen)

frozenset({1, 2, 3, 4, 5, 9})

In [40]:
#24
s1 = {1, 2, 3, 8}
s2 = {4, 5, 6, 7}

if s1.isdisjoint(s2):
    print("disjoint")
else:
    print("not disjoint")

disjoint

In [ ]:
#25
squares = set()

for i in range(1, 6):
    squares.add(i * i)

print("Set of squares from 1 to 5:", squares)

In [44]:
#26
num = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
f= set()

for i in num:
    if i % 2 != 0:
        f.add(i)

print(f)

{1, 3, 5, 7, 9}

In [46]:
#27
numbers = {1, 2, 3, 4, 5}
multiply = set()

for i in num:
    multiply.add(i* 2)

print(multiply)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [47]:
#28
import random

ran_num = set()

while len(ran_num) < 5:
    ran_num.add(random.randint(1, 50))

print(ran_num)

{34, 37, 38, 42, 22}

In [48]:
#29
f = set()

if not f:
    print("empty")
else:
    print("not empty")

empty

In [49]:
#30
set1 = frozenset([1, 3, 2])
set2 = frozenset([3, 4, 6])

nested= {set1, set2}

print(nested)

{frozenset({1, 2, 3}), frozenset({3, 4, 6})}

In [51]:
#31 does not raise an error if the element is not found.
s1={1, 2, 3, 4, 5}

numbers.discard(3)

print(s1)

{1, 2, 3, 4, 5}

In [52]:
#32
s1= {2,4,6,7,8,4}
s2= {2,4,6,7,8,4}

print(s1==s2)

True

In [53]:
#33
s1=["Hello Good mornings"]
s2= set(s1)
print(s2)

{'Hello Good mornings'}

In [6]:
#34 
st = {"1", "2", "3", "4"}
it = set()

for item in st:
    it.add(int(item))

print(it)

{1, 2, 3, 4}

In [7]:
#35
it = {1, 2, 3, 4}
st = set()

for num in it:
    st.add(str(num))

print(st)

{'1', '4', '2', '3'}

In [57]:
#36
y = (1, 2, 3, 4, 2, 1)
my = set(y)

print(my)

{1, 2, 3, 4}

In [58]:
#37
y = {1, 2, 3, 4}
my = tuple(y)

print(my)

(1, 2, 3, 4)

In [59]:
#38
y = {1, 2, 3, 4}
z= max(y)
print(z)

4

In [60]:
#39
y = {1, 2, 3, 4}
z= min(y)
print(z)

1

In [61]:
#40
a = input("Enter elements separated by spaces: ")
b = set(a.split())

print(b)

Enter elements separated by spaces:  23,23,23,23,

{'23,23,23,23,'}

In [62]:
#41 disjoint
s1 = {1, 2, 3}
s2 = {4, 5, 6}

if s1.isdisjoint(s2):
    print("empty")
else:
    print("common elements")

empty

In [3]:
#42
n = 9
fibo = {0, 1}

a, b = 0, 1
for i in range(n - 2): 
    a, b = b, a + b
    fibo.add(a)

print(fibo)

{0, 1, 2, 3, 5, 8, 13}

In [5]:
#43
my = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(my))

print(unique)

[1, 2, 3, 4, 5]

In [ ]:
#44
s1 = {21,45,23,76,34,35}
s2 = {87,2,5,6,8,3,9}

if s1.isdisjoint(s2):
    print("no common.")
else:
    print("some common")

In [7]:
#45
n = int(input("Enter the value of n: "))
pow_2 = set()

for i in range(n):
    pow_2.add(2 ** i)

print(pow_2)

Enter the value of n:  5

{1, 2, 4, 8, 16}

In [8]:
#46
m = {1, 2, 3, 4, 5}
n = [3, 4, 5, 6, 7]

common = m.intersection(n)

print( common)

{3, 4, 5}

In [10]:
#47 formula is n(n+1)//2
n = int(input("Enter the value of n: "))
num = set()

for i in range(1, n + 1):
    num.add(i * (i + 1) // 2)

print(num)

Enter the value of n:  7

{1, 3, 6, 10, 15, 21, 28}

In [23]:
#48 
s1 = {1, 2, 3, 4, 5}
s2 = {2, 3}

if s2.issubset(s1):
    print("subset")
else:
    print("not a subset")

subset

In [1]:
#49
s= {"1", "2", "3", "4"}
i = set()

for item in s:
    i.add(int(item))

print(i)

{1, 2, 3, 4}

In [25]:
#50
t1 = {1, 2}
t2 = {3, 4}
t3 = {4, 5, 6}

merged = t1.union(t2, t3)
print(merged)

{1, 2, 3, 4, 5, 6}